form{ background: #ddd ; width: 450px; margin: 0 auto; padding:10px 10px; border-radius: 10px; 

}
form input{
  margin-top: 10px;
  width: 95%;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}
.mb-3{
  margin-bottom: 20px;
}
.mb-4{
  text-align: center;
}